@import "tailwindcss";
@import "./colors.css";

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  font-family:
    "Nunito Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--color-gray-600);
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-blue);
  transition: box-shadow 0.2s;
}
